.main__contact {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-block: 3rem;
}

.contact__title{
    text-align: center;
    color: #333;
    font-size: 1.75rem;
}

@media screen and (max-width: 576px) {
    .main__contact{
        row-gap: 2rem;
        padding-block: 2rem;
    }
    .contact__title{
        font-size: 1.5rem;
    }
}
/* ==============INFO============== */
.contact__info{
    display: flex;
    column-gap: 3rem;
    flex-wrap: wrap;
}

.info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
}

.info__group{
    display: flex;
    column-gap: .75rem;
    align-items: center;
}

.info__icon{
    font-size: 1.5rem;
}

.info__icon-time{
    font-size: 1.5rem;
}

.info__paragraph {
    font-weight: bold;
}

.info__link {
    color: var(--first-color);
}

.info__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .contact__info{
        flex-direction: column;
        width: 500px;
        margin-inline: auto;
        row-gap: 1.5rem;
    }
    .info__content{
        margin-inline: auto;
    }
}

@media screen and (max-width: 576px) {
    .contact__info{
        width: 100%;
    }
}


/* ==============TABLE============== */
.info__table {
    display: flex;
    flex-direction: column;
}

.table__title{
    display: flex;
    column-gap: .75rem;
    align-items: center;
}

.table__rows{
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
    margin-left: 2.45rem;
}

.table__row{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .table__rows{
        width: 17rem;
    }
}

@media screen and (max-width: 576px) {
    .table__rows{
        width: initial;
    }
}

/* ==============MAP============== */
.info__map{
    flex: 1;
    display: flex;
    align-items: center;
}

.map__iframe {
    width: 100%;
    height: 30rem;
    border: 1px solid lightgray;
    border-radius: .25rem;
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
}

@media screen and (max-width: 1024px) {
    .map__iframe{
        height: 25rem;
    }
}

/* ==============FORM============== */
.contact__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-inline: auto;
}

@media screen and (max-width: 576px) {
    .contact__form{
        width: 100%;
    }
}