.main__index {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}

.advert {
    position: relative;
    min-height: 40em; 
    width: 100%;
}

.advert__imagebg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../img/Seguro-Motores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
}

.advert__text {
    position: relative;
    color: black;
    z-index: 1; 
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    padding: 1.2em;
}

.advert__redirect {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.card__text {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.carousel__home {
    background-color: rgb(205, 174, 0);
    border-radius: 7%;
    padding: 2em;
}