.main__is{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.insurance{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.insurance h2{
    text-align: center;
}

.insurance__types{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
}

.insurance__types div{
    margin-inline: auto;
    padding: 1rem;
    border-radius: 0.5rem;    
    
}
.simulation__cta{
    background-color: var(--c2);
    margin-inline: auto;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: 600;
    color: var(--c3);
    transition: background-color .3s, box-shadow .3s;
}
.insurance__icon{
    color: var(--c3);
}
.insurance__group{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   line-height: 1.5rem;
   
}

.insurance__group svg{
    margin-bottom: 0.3rem;
    width: 5rem;
}

.ps__color{
    color: var(--c2);
}
.pp__color{
    color: var(--c1)
}
.pv__color{
    color: var(--c3)
}
.price{
    color: var(--c1)
}
/*============ SIMULATION ===========================*/
.simulation__form{
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-inline: auto;
}