.main__is{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.insurance{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.insurance h2{
    text-align: center;
}

.insurance__types{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
}

.insurance__types div{
    margin-inline: auto;
}