.main__is {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

/*===================== INSURANCE =====================*/
.insurance {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.insurance__title {
    text-align: center;
}

.insurance__types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}

.insurance__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

.insurance__icon {
    margin-bottom: 0.3rem;
    width: 5rem;
}

.insurance__icon-ps {
    color: var(--c2);
}

.insurance__icon-pp {
    color: var(--c1);
}

.insurance__icon-pv {
    color: var(--c3);
}

.insurance__text p:nth-child(1),
.insurance__text p:nth-child(3){
    font-weight: 600;
}

.insurance__price {
    color: var(--c1);
}

/*============ SIMULATION ===========================*/
.simulation__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-inline: auto;
}

.simulation__cta {
    background-color: var(--c2);
    margin-inline: auto;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: 600;
    color: var(--c3);
    transition: background-color .3s, box-shadow .3s;
}