.nav__avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--c2);
}

.profile-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10rem;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 90%;
        max-width: 800px;
        gap: 1rem;
        padding: 2rem;
        border-radius: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        .avatar {
            width: 12rem;
            height: 12rem;
            z-index: 2;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transform: translateY(-50%);
        }

        .name {
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--c1);
            transform: translateY(-200%);
        }

        .address {
            font-size: 1.25rem;
            transform: translateY(-450%);
        }

        .email, .phone {
            font-size: 1.35rem;
            transform: translateY(-150%);
        }

        .sims__button {
            font-size: 1rem;
            color: rgb(255, 255, 255);
            cursor: pointer;
            padding: 1.2rem 1.8rem;
            border-radius: 2rem;
            background: linear-gradient(100deg, var(--c1) 30%, var(--c2) 100%);
            box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
            transform: translateY(-10%);
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .nav__avatar{
        width: 40px;
        height: 40px;
    }

    .profile-page {
        padding-top: 10rem;

        .content {
            max-width: 420px;
            padding: 0;
            border-radius: 0%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;

            avatar {
                width: 10rem;
                height: 10rem;
                transform: translateY(-50%);
            }
        }
    }
}
