.nav__exit{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--c2);
}

.nav__exit i{
    font-size: 1.5rem;
}

.nav__exit i:hover{
    color: var(--c1);
}

.nav__avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--c5);
    transition: border-color .3s;
}

@media screen and (max-width: 1024px) {
    .nav__avatar{
        width: 40px;
        height: 40px;
    }
}

.nav__avatar:hover{
    border: 2px solid var(--c1);
}

.main__profile {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

/*=============== PROFILE ===============*/
.profile {
    min-height: calc(100vh - (var(--header-height) + 2rem)); 
}

.profile__container {
    width: 800px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 9rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: var(--container-color);
    box-shadow: 0px 8px 32px var(--black-transparent);
}

.profile__avatar {
    margin-top: -9rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    box-shadow: 0px 0px 16px var(--black-transparent);
}

.profile__name {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--c1);
}

.profile__address {
    font-size: 1.25rem;
    margin-top: -1rem;
}

.profile__phone {
    font-size: 1.25rem;
    margin-top: 3.5rem;
}
.profile__email {
    margin-top: -1rem;
    font-size: 1.25rem;
}

.profile__btn {
    cursor: pointer;
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 1rem 1.75rem;
    border-radius: 3rem;
    background-image: linear-gradient(100deg, var(--c1) 30%, var(--c2) 100%);
    box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
}

.profile__btn:hover{
    background-image: linear-gradient(100deg, var(--c3) 30%, var(--c1) 100%);
}

@media screen and (max-width: 1024px) {
    .profile {
        min-height: calc(100vh - var(--header-height));
    }
    .profile__container {
        width: 100%;
        margin-top: 8rem;
    }
    .profile__avatar {
        margin-top: -8rem;
        width: 10rem;
        height: 10rem;
    }
    .profile__name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .profile{
        display: flex;
        align-items: center;
    }
    .profile__container {
        padding: 2rem 1.5rem;
        margin-top: 2rem;
    }
    .profile__avatar {
        margin-top: -6rem;
        width: 8rem;
        height: 8rem;
    }
    .profile__name {
        font-size: 1.75rem;
    }
    .profile__address {
        font-size: 1.125rem;
        margin-top: -1rem;
    }
    .profile__phone {
        font-size: 1.125rem;
        margin-top: 1.5rem;
    }
    .profile__email {
        margin-top: -1rem;
        font-size: 1.125rem;
    }
}

/*=============== SIMULATIONS ===============*/
.simulations {
    padding-top: 8.5rem;
    min-height: calc(100vh - 3rem);
    display: none;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: -100%;
    transition: top 1s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: -1;
}

.simulations--active {
    display: flex;
    opacity: 1;
    visibility: visible;
    top: 0;
    z-index: 1;
    transition: top 1s ease, opacity 0.3s ease, visibility 0.3s ease;

    font-weight: initial;
}

.simulations__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    padding: 3rem 1.5rem;
    border-radius: 2rem;
    background: linear-gradient(100deg, var(--c1) 30%, var(--c2) 70%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);        
}

.simulations__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(50, 100%, 60%);
}

.simulations__img {
    width: 20rem;
}

@media screen and (max-width: 1024px) {
    .simulations{
        padding-top: 6.5rem;
    }
    .simulations__content {justify-content: center;
        padding-block: 2rem;
        row-gap: 2rem;
        background: linear-gradient(100deg, var(--c1) 60%, var(--c2) 80%);
    }
    .simulations__title {
        
        font-size: 2rem;
    }
    .simulations__img{
        width: 15rem;
    }
}

@media screen and (max-width: 576px) {
    .simulations {
        padding-top: 0;
        min-height: initial;
    }
    .simulations__content {
        padding-block: 2rem;
        row-gap: 2rem;
    }
    .simulations__title {
        font-size: 1.5rem;
    }
    .simulations__img{
        width: 10rem;
    }
}