.main__pb {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-bottom: 5rem;
}

/*--------- Carousel -----------*/

.carousel {
    height: calc(100vh - (var(--header-height) + 2rem));
}

.carousel__container {
    height: 100%;
}

.carousel__content {
    height: 100%;
}

.carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel__button-prev,
.carousel__button-next {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--c2);
    color: var(--white-color);
    margin-inline: 1.5rem;
    transition: background-color .3s;
}

.carousel__button-prev:hover,
.carousel__button-next:hover {
    background-color: var(--c1);
}

.carousel__arrow-left::before,
.carousel__arrow-right::before {
    content: '';
}

.carousel__button-prev::after {
    font-size: 1.3rem;
    font-weight: 900;
    padding-top: 4px;
    padding-right: 4px;
}

.carousel__button-prev {
    left: 0;
}

.carousel__button-next {
    right: 0;
}

.carousel__button-next::after {
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 4px;
    padding-top: 4px;
}

@media screen and (max-width: 1024px) {
    .carousel {
        height: calc(100vh - var(--header-height));
    }
}

/* -------------- BENEFITS ----------- */
.benefits,
.promotions {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.benefits__container {
    padding-block: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.seguro__img {
    width: 15rem;
    height: 15rem;
    display: flex;
    border-radius: 50%;
}

.benefits__list .promotions__list {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.benefit__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

}

.benefit__icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;

}

/* ---------- PROMOTIONS -------------*/
.promotions__list {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.planos .th {
    padding: .75rem 1.5rem;
    text-align: center;
    color: var(--darkblue);
    border-radius: .5rem .5rem 0 0;
}

.th:last-child {
    color: var(--white-color);
}

.tbody .th {
    padding: .75rem;
    border-radius: .5rem 0 0 .5rem;
    text-align: left;
}

.td {
    text-align: center;
    color: var(--darkblue);
}


.tbody tr:nth-child(odd) {
    background-color: var(--border-color);
}

tbody tr:nth-child(odd) td:last-child {
    border-radius: 0 .5rem .5rem 0;
}

.td-special {
    border-radius: 0 0 .5rem 0 !important;
}

.ps {
    background-color: var(--c2);
}

.pp {
    background-color: var(--c1);
}

.pv {
    background-color: var(--c3);
}

.benefits__cta,
.promotions__cta {
    background-color: var(--c2);
    margin-inline: auto;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: 600;
    color: var(--c3);
    transition: background-color .3s, box-shadow .3s;

}

.benefits__cta:hover,
.promotions__cta:hover {
    background-color: var(--c2-hover);
    box-shadow: 2px 2px 16px var(--c5);
}