.main__pb{
    padding: 0 1.5rem 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

/*--------- Card-----------*/

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--header-height) + 2rem);
 }
 @media screen and (max-width: 1024px){
    .carousel{
        margin-top:var(--header-height) ;
    }
 }
 .card__container{
    padding-block: 5rem;

 }
 
 .card__content{
    /* margin-inline: 1.75rem; */
    border-radius: 1.25rem;
 }
 
.card__article{
    width: 500px;
    border-radius:1.25rem;
    /* overflow: hidden; */
}

.card__image{
    position: relative;
    /* background-color: var(--first-color);*/
    /* padding-top: 1.5rem; */
    margin-bottom: -.75rem; 
}
.card__img{
 width: 100%;
 margin: 0 auto;
 position:relative;
 z-index: 5;
}
/* Swiper Class */

.swiper-button-next,
.swiper-button-prev{
    width: 45px;
    height: 45px;
    font-size: 3rem;
    color: white;
    border-radius:50%;
    margin: 3%;
    background-color: bisque; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}    
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-next::after{
    font-size: 1.8rem;
    padding-left: 4px;
}
.swiper-button-next:hover{
    background-color: black;
}
.swiper-button-prev::after{
    font-size: 1.8rem;
    padding-right: 4px;
}
.swiper-button-prev:hover{
    background-color: black;
}
.ri-arrow-left-s-line::before{
    content: '';
}
.ri-arrow-rigth-s-line::before{
    content: '';
}
/* -------------- BENEFITS ----------- */
.benefits,
.promotions{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.benefits__container{
    padding-block: 5rem;
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:3rem;
}

.seguro__img{
    width: 15rem;
    height: 15rem;
    display: flex;
    border-radius: 50%;
}

.benefits__list                         
.promotions__list{               
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.benefit__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

}

.benefit__icon {
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    
}

/* ---------- PROMOTIONS -------------*/
.promotions__list{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    border-collapse: collapse;
    border: 2px;
    letter-spacing: 1px;
}
/* .planos{
     background-color: var(--first-color); 
    
} */
/* .ps{
    background-color: var(--c1);
    color:var(--darkblue);
}
.pp{
    background-color: var(--c1);
    color:var(--darkblue);
}
.pv{
    background-color: var(--c1);
    color:var(--darkblue);
} */
.th{
    border: 2px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
    background-color: var(--c1);
    color:var(--darkblue);
}

.td{
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
    background-color: var(--c2-hover);
    color:var(--darkblue);
}

tbody .th{
    text-align: left;
}