@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./index.css);
@import url(./insurance-and-simulation.css);
@import url(./promotion-and-benefits.css);
@import url(./contact.css);
@import url(./login.css);
@import url(./404.css);

:root{
  --white-color: #FFFFFF;
  --black-color: #000000;

  --darkblue: #05191f;
  --lightblue: #166d83;
  
  --c1: #25aed9;
  --c2: #8dd5eb;
  --c3: #145e75;
  --c4: #7c848c;
  --c5: #bcc3c4;
  --c6: #2b3c40;

  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
}

@media screen and (min-width: 1023px) {
  :root {
    --normal-font-size: 1rem;
  }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main{
  min-height: 100vh;
}