/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*=============== COMPONENTS CSS ===============*/
@import url(./components/header.css);
@import url(./components/footer.css);
@import url(./components/forms.css);
@import url(./components/login-signup-forgot.css);
@import url(./promotion-and-benefits.css);
@import url(./index.css);
@import url(./insurance-and-simulation.css);
@import url(./contact.css);
@import url(./404.css);

/*=============== VARIABLES CSS ===============*/
:root{
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(194, 71%, 50%);
  --title-color: hsl(191, 20%, 21%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  --c1: hsl(194, 71%, 50%);
  --c2: hsl(194, 70%, 74%);
  --c2-transparent: hsla(194, 70%, 74%, .5);
  --c2-hover: hsl(194, 70%, 68%);
  --c3: hsl(194, 71%, 27%);
  --c4: hsl(210, 7%, 52%);
  --c5: hsl(188, 6%, 75%);
  --c6: hsl(191, 20%, 21%);

  /*Color mode HEX #RRGGBB*/
  --white-color: #FFFFFF;
  --black-color: #000;
  --black-transparent: #00000083;

  --darkblue: #05191f;
  --lightblue: #166d83;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main{
  position: relative;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

@media screen and (min-width: 1023px) {
  .main{
    margin-top: calc(var(--header-height) + 2rem);
    min-height: calc(100vh - (var(--header-height) + 2rem));
  }
}

@media screen and (min-width: 1150px) {
  .container{
    margin-inline: auto;
  }
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: var(--c5);
}

::-webkit-scrollbar-thumb{
  width: .6rem;
  background-color: var(--c1);
}