.footer {
  padding: 3rem 1.5rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.footer__mail__link{
  color: var(--c1);
  display: flex;
  column-gap: 1rem;
  align-items: center;
  transition: color .3s;
}

.footer__mail__link:hover{
  color: var(--c2);
}

.footer__mail__icon{
  font-size: 1.5rem;
}

.footer__copy{
  font-size: .875rem;
}

.footer__social{
  display: flex;
  column-gap: 1rem;
}

.footer__icon{
  font-size: 1.5rem;
  color: var(--c1);
  transition: color .3s;
}

.footer__icon:hover{
  color: var(--c2);
}

@media screen and (max-width: 1024px) {
  .footer__content {
    row-gap: .5rem;
  }
  .footer__mail__link{
    column-gap: .5rem;
  }
  .footer__social{
    column-gap: .5rem;
  }
}

@media screen and (max-width: 714px) {
  .footer__copy{
    transform: translateY(1.125rem);
  }
}

@media screen and (max-width: 576px) {
  .footer__content {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer__social{
    column-gap: 1rem;
  }
  .footer__copy{
    margin-top: 3rem;
    order: 3;
  }
}