.form__title{
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

.form__group{
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.form__label{
    font-weight: bold;
}

.form__input,
.form__area {
    padding: .75rem 1.25rem;
    border: 1px solid #ddd;
    border-radius: .25rem;
    order: 1;
}

.form__area{
    resize: none;
    height: 10rem;
}

.form__input:focus,
.form__area:focus {
    border-color: var(--c1);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
}

.form__input:focus ~ .form__label,
.form__area:focus ~ .form__label {
    color: var(--c1);
}

.form__button {
    padding: 1rem;
    width: 80%;
    margin-inline: auto;
    background-color: var(--c2);
    color: white;
    font-weight: bold;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color .3s;
}

.form__button:hover {
    background-color: var(--c1);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
}

.form__status{
    text-align: center;
}
