/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__img{
  filter: invert(100%);
  width: 6rem;
}

.nav__img:hover{
  filter: invert(50%) sepia(45%) saturate(2689%) hue-rotate(159deg) brightness(92%) contrast(102%);
}

.nav__actions{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__login,
.nav__toggle,
.nav__close{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__login, .nav__toggle, .nav__link):hover{
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close{
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
}

.active {
  font-weight: 800;
}

/* Show menu */
.show-menu{
  top: 0;
}

/*=============== LOGIN, SIGN UP AND FORGOT ===============*/
.login,
.signUp,
.forgot{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 32%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
  overflow-y: scroll;
}

.login__close,
.signUp__close,
.forgot__close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.login__form,
.login__group,
.signUp__form,
.signUp__group,
.forgot__form,
.forgot__group{
  display: grid;
}

.login__form,
.signUp__form,
.forgot__form{
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title,
.signUp__title,
.forgot__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group,
.signUp__group,
.forgot__group{
  row-gap: 1rem;
  position: relative;
}

.login__input,
.signUp__input,
.forgot__input{
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__label,
.signUp__label,
.forgot__label{
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
  position: absolute;
  left: 15px;
  pointer-events: none;
  transform: translateY(18px);
  font-size: var(--h3-font-size);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login__span {
  display: block;
  color: var(--error-color);
  font-size: var(--small-font-size);
  margin-top: 0.5rem;
}


/* Login form ANIMATIONS */
.login__input:focus { 
  outline: none;
  border: 2px solid var(--first-color);
}

.login__input:valid,
.signUp__input:valid,
.forgot__input:valid{
  /* NEEDED, DO NOT DELETE OR MODIFY*/
}

.login__input:focus ~ .login__label,
.signUp__input:focus ~ .signUp__label,
.forgot__input:focus ~ .forgot__label{
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  background-color: var(--container-color);
  padding: 0.2rem;
  color: var(--first-color)
}

.login__input:valid ~ .login__label,
.signUp__input:valid ~ .signUp__label,
.forgot__input:valid ~ .forgot__label{
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  padding: 0.2rem;
  background-color: var(--container-color);
}

/* ---------------------- */
.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login,
.show-signUp,
.show-forgot {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form,
.show-signUp .signUp__form,
.show-forgot .forgot__form{
  transform: translateY(0);
}

.signUp__span {
  display: block;
  color: var(--error-color);
  font-size: var(--small-font-size);
  margin-top: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login,
  .signUp,
  .forgot{
    padding-top: 10rem;
  }

  .login__close,
  .signUp__close,
  .forgot__close{
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form,
  .signUp__form,
  .forgot__form{
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__img{
    width: 10rem;
  }
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__menu{
    margin-left: auto;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
    text-align: initial;
    align-items: center;
  }

  .login__form{
    padding: 3rem 2rem 3.5rem;
  }
}