/*=============== LOGIN, SIGN UP AND FORGOT ===============*/
.login,
.signUp,
.forgot{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 32%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
  overflow-y: scroll;
}

.login__close,
.signUp__close,
.forgot__close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.login__form,
.login__group,
.signUp__form,
.signUp__group,
.forgot__form,
.forgot__group{
  display: grid;
}

.login__form,
.signUp__form,
.forgot__form{
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title,
.signUp__title,
.forgot__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group,
.signUp__group,
.forgot__group{
  row-gap: 1rem;
  position: relative;
}

.login__input,
.signUp__input,
.forgot__input{
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__label,
.signUp__label,
.forgot__label{
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
  position: absolute;
  left: 15px;
  pointer-events: none;
  transform: translateY(18px);
  font-size: var(--h3-font-size);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signUp__label,
.forgot__label{
  transform: translateY(-38px);
}

.login__span,
.signUp__span,
.forgot__span {
  display: block;
  color: var(--error-color);
  font-size: var(--small-font-size);
  margin-top: 0.5rem;
}


/* ANIMATIONS */
.login__input:focus,
.signUp__input:focus,
.forgot__input:focus { 
  outline: none;
  border: 2px solid var(--first-color);
}

.login__input:valid,
.signUp__input:valid,
.forgot__input:valid{
  /* NEEDED, DO NOT DELETE OR MODIFY*/
}

.login__input:focus ~ .login__label,
.signUp__input:focus ~ .signUp__label,
.forgot__input:focus ~ .forgot__label{
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  background-color: var(--container-color);
  padding: 0.2rem;
  color: var(--first-color)
}

.signUp__input:focus ~ .signUp__label,
.forgot__input:focus ~ .forgot__label{
  transform: translateX(-10%) translateY(-265%) scale(0.9);
}

.login__input:valid ~ .login__label,
.signUp__input:valid ~ .signUp__label,
.forgot__input:valid ~ .forgot__label{
  transform: translateX(-10%) translateY(-50%) scale(0.9);
  padding: 0.2rem;
  background-color: var(--container-color);
}

.signUp__input:valid ~ .signUp__label,
.forgot__input:valid ~ .forgot__label{
  transform: translateX(-10%) translateY(-265%) scale(0.9);
}

/* ---------------------- */
.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button,
.signUp__button,
.forgot__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover,
.signUp__button:hover,
.forgot__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login,
.show-signUp,
.show-forgot {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form,
.show-signUp .signUp__form,
.show-forgot .forgot__form{
  transform: translateY(0);
}

.signUp__span {
  display: block;
  color: var(--error-color);
  font-size: var(--small-font-size);
  margin-top: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1023px) {
    .login__form{
        padding: 3rem 2rem 3.5rem;
      }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .login,
  .signUp,
  .forgot{
    padding-top: 10rem;
  }

  .login__close,
  .signUp__close,
  .forgot__close{
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form,
  .signUp__form,
  .forgot__form{
    max-width: 400px;
    margin-inline: auto;
  }
}
